<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">%d{dd-MM-yyyy HH:mm:ss} %5p %c{20} > %m%n
		</Property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>

		<RollingFile name="app" fileName="app.log"
			filePattern="app-%d{yyyy-MM-dd}-%i.log">
			<LevelRangeFilter minLevel="ERROR" maxLevel="INFO"
				onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>

		<RollingFile name="app-pr" fileName="app-pr.log"
			filePattern="app-pr-%d{yyyy-MM-dd}-%i.log">
			<LevelRangeFilter minLevel="ERROR" maxLevel="INFO"
				onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10KB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>

		<RollingFile name="app-payment" fileName="app-payment.log"
			filePattern="app-payment-%d{yyyy-MM-dd}-%i.log">
			<LevelRangeFilter minLevel="ERROR" maxLevel="INFO"
				onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10KB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="*" additivity="true">
			<AppenderRef ref="app" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="zama.learning.payment" additivity="true">
			<AppenderRef ref="app-payment" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="zama.learning.pr.PrService" additivity="true">
			<AppenderRef ref="app-pr" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="zama.learning.pr.PrServiceV2" additivity="true">
			<AppenderRef ref="app-pr" />
			<AppenderRef ref="Console" />
		</Logger>

		<Root level="INFO">
			<AppenderRef ref="app" />
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>